<!DOCTYPE html>
<html>

<head>
    <title>Material Accounting</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Ласкаво просимо до системи обліку матеріальних ресурсів</h1>
        <p>Простий додаток для управління матеріальними ресурсами вашої роти.</p>
        <button class="login" onclick="location.href='/auth/login'">Увійти</button>
        <button class="register" onclick="location.href='/auth/register'">Реєстрація</button>
    </div>
</body>

</html>